#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #00c3ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#backToTop:hover {
    background-color: #0056b3;
}
